.search-form {
  display: flex;
  flex-direction: column;
  background-color: #80808038;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 0.8rem 0;
}

.search-form--wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.search-form--title {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.search-form--sub-title {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

.search-form input {
  width: 100%;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  border: 0;
}

.search-form--input {
  width: 100%;
  margin-right: 2rem;
}

.search-form--submit {
  max-width: 20%;
  width: 100%;
}

.search-results {
  margin: 0.8rem 0;
}

.search-results__no-results {
  background-color: #ff54549c;
  border-radius: 0.4rem;
}

.search-results--row {
  display: flex;
  padding: 1rem;
  margin: 0.8rem 0;
  border-radius: 0.4rem;
  background-color: #22da0b1a;
}

.search-results--edge {
  width: 75%;
}

.search-results--total {
  justify-content: center;
  font-weight: 600;
}