.search-form {
  display: flex;
  justify-content: center;
  padding: 24px;
  margin: 12px 0;
  background-color: #80808038;
  border-radius: 5px;
}

.search-form--input {
  margin: 8px;
  border-radius: 8px;
  border: 0;
  padding: 2px 17px;
}

.search-results {
  border-radius: 5px;
  margin: 12px 0;
}

.search-results--row {
  display: flex;
  padding: 12px 24px;
  margin: 10px 0;
  background-color: #22da0b1a;
}

.search-results--edge {
  width: 75%;
}

.search-results--total {
  justify-content: center;
  font-weight: 600;
}